.courses-main {
  /* display: flex;
  flex-flow: row wrap;
  flex: 1; */
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* height: 9rem; */
  /* background-color: rgba(235, 237, 238, 0.589); */
  border-radius: 1rem;
  gap: 1.5rem;
}

@media screen and (max-width: 1300px) {
  .courses-main {
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (max-width: 950px) {
  .courses-main {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 480px) {
  .courses-main {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 350px) {
  .courses-main {
    grid-template-columns: auto;
  }
}
