.header-main {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(255, 255, 255);
  height: 3.688rem;
  z-index: 2;
  margin: 0 2% 0 3%;
  width: inherit;
}
.header-main-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: inherit;
  background-color: white;
  list-style-type: none;
}

/* Company name component's styles -- start */
.company-name {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: max-content;
  font-family: kurale;
  height: inherit;
  color: #00448c;
  text-decoration: none;
}
.company-name span {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.company-name p {
  text-align: center;
  margin: 0;
  color: transparent;
  background-color: #00448c;
  background-clip: text;
  background-image: linear-gradient(to right, #f6f8fa3e 60%, #80808038);
}
.company-name__main {
  font-weight: bold;
  font-size: 130%;
  text-transform: uppercase;
}
.company-name__sub {
  position: relative;
  top: -0.5rem;
  font-size: 60%;
  text-transform: uppercase;
}
.company-name__footer {
  position: relative;
  top: -0.6rem;
  font-size: 60%;
  font-family: italianno;
}
/* Company's name component's styles -- end */

.main-search-input {
  position: relative;
  display: flex;
  align-items: center;
  height: inherit;
  flex: 1;
  z-index: 2;
}
.main-search-input input {
  flex: 1;
  height: 2.2rem;
  border-radius: 1rem;
  padding: 0 1rem;
  outline: 0.1rem solid #71718357;
  border: none;
}
.main-search-input input:focus {
  /* outline: 0.1rem solid #7575d36d; */
}
.main-search-input input::placeholder {
  filter: opacity(0.6);
}
.main-search-input .search-submit-button {
  margin: auto;
  position: absolute;
  right: 5%;
  background-color: white;
  color: var(--mainblue);
  width: 2rem;
}
.mobile-search-icon {
  display: none;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  color: var(--mainblue);
  height: 2.4rem;
  width: 3rem;
  min-width: 2rem;
  border-radius: 0.8rem;
  border: none;
}
.search-sugg {
  position: absolute;
  top: 3rem;
  right: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  outline: 0.1rem solid #7575d36d;
  background-color: #ffffff;
  padding: 0 0.3rem;
  border-radius: 0 0 1rem 1rem;
  filter: drop-shadow(0 0.5rem 0.5rem #b3b3b371);
  z-index: 1;
}
.search-sugg-m {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.search-sugg-top {
  height: max-content;
  max-height: 45vh;
  overflow: auto;
  margin: 0.2rem 0;
  font-size: calc(0.8rem + 0.2vw);
}
.search-sugg-top::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 1rem;
  background-color: #d8d8d800;
}
.search-sugg-top::-webkit-scrollbar-thumb {
  background-color: #93939361;
  border-radius: 1rem;
}
.search-sugg-top p {
  padding: 0.5rem 0.7rem;
  margin: 0;
  cursor: pointer;
}
.search-sugg-top p:hover {
  background-color: #f3f3f3;
}
.search-sugg-bottom {
  position: sticky;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-self: center;
  width: 80%;
  padding: 2.5rem 0 1.5rem 0;
  text-transform: capitalize;
  background: linear-gradient(to bottom, #ffffff60, #ffffff 40%);
}
.search-sugg-bottom > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  font-size: calc(0.7rem + 0.2vw);
}
.search-sugg-bottom p {
  display: flex;
  align-items: center;
  height: 2rem;
  margin: 0;
}
.gateway-buttons {
  display: flex;
  gap: 10%;
}

/* Account summary component's styles -- start */
.account-summary {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.769);
}
.account-summary > div {
  cursor: pointer;
}
.account-summary-users:hover,
.account-summary-notifications:hover,
.account-summary-chats:hover {
  color: var(--mainblue);
  filter: opacity(0.7);
  -webkit-filter: opacity(0.7);
}
.profile-icon-mobile {
  display: none;
}
.account-summary-profile {
  position: relative;
}
.account-profile-icon {
  display: flex;
  align-items: center;
}
.account-profile-info {
  display: none;
  flex-flow: column nowrap;
  position: absolute;
  top: 3.5rem;
  left: -6rem;
  width: 10rem;
  background-color: var(--backwhite);
  filter: drop-shadow(0 0 0.8rem #acacac4d);
  -webkit-filter: drop-shadow(0 0 0.8rem #acacac4d);
  overflow: visible;
}
.account-profile-info .arrow-top {
  position: absolute;
  right: 0.5rem;
  top: -2.5rem;
  color: var(--backwhite);
}
.account-summary-profile:hover .account-profile-info {
  display: flex;
}
.account-profile-info p {
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 0;
  border-bottom: 0.1rem solid #bababa;
  transition: 0.3s ease;
}
.account-profile-info p:hover {
  filter: opacity(0.7);
  -webkit-filter: opacity(0.7);
}
.account-profile-info p:active {
  filter: opacity(1);
  -webkit-filter: opacity(1);
}
.account-profile-info p:focus {
  filter: opacity(0.5);
  -webkit-filter: opacity(0.5);
}

.account-profile-info button {
  align-self: center;
  margin: 1rem;
  width: 7rem;
  height: 2rem;
}

@media screen and (max-width: 47rem) {
  .profile-icon-mobile {
    display: block;
  }
  .account-summary-users,
  .account-summary-notifications,
  .account-summary-chats,
  .account-summary-profile {
    display: none;
  }
}
/* Account summary comoponent's styles -- end */

/* Mobile search dialog component's styles -- start */
/* .MuiDialogContent-root {
  padding: 0 !important;
}
.search-dialog-content {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.search-dialog-header {
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: stretch;
  gap: 0.5rem;
  height: 1.5rem;
  padding: 0.8rem;
  box-shadow: 0 0.1rem 0.3rem #b7b6b63f;
  background-color: #ffffff;
}
.search-dialog-input {
  display: flex;
  align-items: center;
  flex: 1;
}
.search-dialog-input input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
}
.search-dialog-input input:focus {
  outline: none;
}
.search-dialog-input input::first-letter {
  text-transform: uppercase;
}
.search-dialog-body {
  flex: 1;
}
.search-dialog-body .search-sugg-cont {
  height: 100%;
}
.search-dialog-body .search-sugg-top {
  max-height: 100%;
  flex: 1;
} */
/* Mobile search dialog component's styles -- end */

@media screen and (max-width: 38rem) {
  .mobile-search-icon {
    display: flex;
  }
  .main-search-input {
    display: none;
  }
  .header-main {
    margin: 0 3%;
  }
}
@media screen and (max-width: 20rem) {
  .gateway-buttons {
    display: none;
  }
}
