:root {
  --sidebar-width: 15rem;
}

.market-main {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  font-family: nunito;
  padding: 1rem;
  max-width: calc(100% - 2rem);
  width: calc(100% - 2rem);
}
.market-temp1 {
  display: flex;
  flex-flow: column nowrap;
  /* max-width: calc(100vw - 3.1rem); */
  max-width: calc(100vw - 2rem);
  transition: 0.3s all ease;
}
.market-temp1-info {
  position: relative;
}
.temp1-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 1rem;
  position: sticky;
  left: 0;
  font-size: calc(1rem + 0.5vw);
  font-weight: 700;
  /* margin: 1rem; */
}
.temp1-title p {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin: 0;
}
.temp1-title-sub {
  font-size: calc(0.8rem + 0.5vw);
  font-weight: 500;
}
.temp1-images {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  gap: 2.3rem;
  overflow-x: auto;
  overflow-y: visible;
}
.temp1-images::-webkit-scrollbar {
  height: 0.4rem;
  background: #f1f1f142;
  border-radius: 0.6rem;
}
.temp1-images::-webkit-scrollbar-thumb {
  background: #98989838;
  border-radius: 0.6rem;
}
.market-temp1:hover .temp1-images::-webkit-scrollbar {
  background: #f1f1f1;
}
.market-temp1:hover .temp1-images::-webkit-scrollbar-thumb {
  background: #989898b0;
}
.market-temp1-next,
.market-temp1-prev {
  display: flex;
  position: absolute;
  bottom: calc(50% + 1rem);
  left: 0;
  justify-content: center;
  align-items: center;
  color: #00000000;
  background-color: #80808000;
  filter: drop-shadow(0 0 0.5rem #7574748b);
  height: calc(1.5rem + 1vw);
  width: calc(1.5rem + 1vw);
  outline: none;
  border: none;
  border-radius: 100%;
  transition: 0.3s all ease;
  z-index: 2;
}
.market-temp1-next:disabled,
.market-temp1-prev:disabled {
  filter: opacity(0.6);
}
.market-temp1-next {
  right: 0;
  left: auto;
}
.market-temp1:hover .market-temp1-prev {
  color: var(--mainblue);
  background-color: var(--backwhite);
}
.market-temp1:hover .market-temp1-next {
  color: var(--mainblue);
  background-color: var(--backwhite);
}
.temp1-image-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  margin: 0.5rem 0 1.5rem 0.5rem;
}
.temp1-image {
  background-color: rgb(140, 226, 233);
  max-width: max-content;
  border-radius: 100%;
  overflow: hidden;
}
.temp1-image:hover {
  outline: 0.1rem solid var(--mainblue);
}
.temp1-image img {
  width: calc(4rem + 3vw);
  height: calc(4rem + 3vw);
  object-fit: contain;
  border-radius: 100%;
}
.temp1-info {
  display: flex;
  flex-flow: column nowrap;
}
.temp1-info > p {
  font-weight: 600;
  margin: 0;
  text-align: center;
  font-size: calc(0.8rem + 0.2vw);
}
.temp1-info-pricing {
  display: flex;
  flex-flow: column nowrap;
}
.temp1-info-pricing p {
  display: flex;
  margin: 0;
  gap: 0.5rem;
}
.temp1-info-pricing p:nth-of-type(1) {
  color: black;
  font-weight: 600;
  font-size: calc(0.9rem + 0.1vw);
}
.temp1-info-pricing p:nth-of-type(2) {
  font-size: calc(0.8rem + 0.1vw);
  filter: opacity(0.7);
  white-space: nowrap;
}
.temp1-info-pricing p:nth-of-type(2) span {
  text-decoration: line-through;
}
.swiper1 .swiper-wrapper,
.swiper-slide {
  max-width: 100% !important;
}
@media screen and (min-width: 47.1rem) {
  /* Regulate the width of market template 1 */
  .market-temp1 {
    max-width: calc(100vw - var(--sidebar-width) - 3.1rem);
  }
}
